<app-front-header></app-front-header>

<div class="container-fluid">
    <div class="row">
<div class="col-sm-6" style="margin:auto;">

    <div class="card  mt-5 mb-5" style=" box-shadow: 0px 10px 10px 10px #5D86BC38;">
    <div class="card-body">
<h2 style="text-align: center;color:  #ee9b20!important;">
   <b>Congratulations</b>
</h2>
<p style="text-align: center;color:  #ee9b20!important;"> <b>Your Order has been Confirmed</b></p>
    <a routerLink="/my-order" style="margin-left: 43%;">View Order</a>
    </div>
</div>
    </div>
</div>
</div>
<app-front-footer></app-front-footer>