
 
             

<div class="card" style="margin-top: 18px;">
    <article class="card-group-item">
        <header class="card-header bbst">
            <p class="title1" style=" text-transform: uppercase;">Bestsellers </p>
        </header>
        <div class="container-fluid">
            <div class="container-fluid  ml-0 mb-1 mt">
                <div class="row">
                    <div class="col-sm-6 col-xl-7 col-lg-5">

                        <div class="card hemmmm">

                            <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-7 col-xl-5 pl-0 pr-0 mt-1.2"
                        style="font-size:13px; color: black">
                        <b>Product Name</b>
                        <br>
                        <b>Rs.500</b>
                    </div>
                    
                </div>
            </div>
            <div class="container-fluid mt-1.2">
                <div class="row">
                    <div class="col-sm-6 col-xl-7 col-lg-5">

                        <div class="card hemmmm">

                            <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-7 col-xl-5 pl-0 pr-0 mt-1.2"
                        style="font-size:13px; color: black">
                        <b>Product Name</b>
                        <br>
                        <b>Rs.500</b>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-1 ">
                <div class="row">
                    <div class="col-sm-6 col-xl-7 col-lg-5">

                        <div class="card hemmmm">

                            <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-7 col-xl-5 pl-0 pr-0 mt-1.2"
                        style="font-size:13px; color: black">
                        <b>Product Name</b>
                        <br>
                        <b>Rs.500</b>
                    </div>
                    
                </div>
            </div>

            <div class="container-fluid mt-1 mb-3 ">
                <div class="row">
                   
                    <div class="col-sm-6 col-xl-7 col-lg-5">

                        <div class="card hemmmm">

                            <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-7 col-xl-5 pl-0 pr-0 mt-1.2"
                        style="font-size:13px; color: black">
                        <b>Product Name</b>
                        <br>
                        <b>Rs.500</b>
                    </div>


                </div>
            </div>
        </div>

    </article>
</div>


<div class="card vindu " style="margin-top: 18px;">
    <article class="card-group-item">
        <header class="card-header bbst">
            <p class="title1" style=" text-transform: uppercase;">Featured Products</p>
        </header>
        <div class="container-fluid">
            <div class="container-fluid mt-1.2 mb-1 mt">
                <div class="row">
                  
                    <div class="col-sm-6 col-xl-7 col-lg-5">

                        <div class="card hemmmm">

                            <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-7 col-xl-5 pl-0 pr-0 mt-1.2"
                        style="font-size:13px; color: black">
                        <b>Product Name</b>
                        <br>
                        <b>Rs.500</b>
                    </div>

                </div>
            </div>
            <div class="container-fluid mt-1">
                <div class="row">
                  

                    <div class="col-sm-6 col-xl-7 col-lg-5">

                        <div class="card hemmmm">

                            <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-7 col-xl-5 pl-0 pr-0 mt-1.2"
                        style="font-size:13px; color: black">
                        <b>Product Name</b>
                        <br>
                        <b>Rs.500</b>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-1">
                <div class="row">
                   

                    <div class="col-sm-6 col-xl-7 col-lg-5">

                        <div class="card hemmmm">

                            <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-7 col-xl-5 pl-0 pr-0 mt-1.2"
                        style="font-size:13px; color: black">
                        <b>Product Name</b>
                        <br>
                        <b>Rs.500</b>
                    </div>

                </div>
            </div>
            <div class="container-fluid mt-1 mb-3">
                <div class="row">
                   


                </div>
            </div>
        </div>
    </article>
</div>

