<div>
<app-front-header></app-front-header>

     
            <div>
                <img src="assets/img/banner image 1.png" class="img-responsive">
            </div>   
            <div class="container-fluid mb-3">
                <div class="row col-sm-11 col-12" style=" margin: auto;">
                <div class="row">
                    <div class="col-sm-8  col-12 mt-5 col-12" style="margin: 0%; text-align: justify;">

<span class="_abut">
    Welcome to Days365, one source platform for all your necessities and changing
lifestyle. Our wide range of products starts from beauty, Fitness & health, grocery,
supplement, home appliance, electronics and so on. We excel in health & fitness
supplements. Keeping your health and lifestyle as our core focus.</span>
<span class="_abut">
With every milestone achieved, we enter into a new category of product and brand
adding into our wide collection. We are dedicated to providing you with the very best of
products, with a focus on dependability, customer service and uniqueness.
</span><br>
<span class="_abut">
    Days365 is an e-commerce platform that deals in an array of products that are easily
available for both B2C and B2B, provided businesses submit legal documents as proof
or register as certified sellers. We aim at serving our customers to meet their desire
every day with guaranteed best prices, better selections, and convenient services. We
ensure the best deals and margins for both our customers and sellers by directly
procuring from the company, reducing the supply gap and cutting the middle-man.

</span><br>
<span class="_abut">
    Founded in [year] by [founder's name], Days365’s vision is to make the e-commerce
industry an effective place where customers can purchase all kinds of high-quality
products conveniently and at an affordable price. We aim at connecting B2C to B2B in a
single platform to better serve our customers and sellers. With our platform, we also
provide a source of income to influencers & marketers. Creating newer revenue streams
in the form of direct income, referral income and promotional code income etc.
</span>
<br>
<span class="_abut">Every day we strive to build a brand that becomes your lifetime friend, fulfilling all your
    needs. Our products are safe, toxin-free & of high-quality standards. With our constant
    updates keeping up with the trend, hard work and inspiration we aim to become a
    booming online store. Currently, we serve customers all over India and are thrilled to be a part of the quirky, eco-friendly, fair trade wing of the e-commerce industry. We hope
    you enjoy our products as much as we enjoy offering them to you.
    </span>
    <br>
    <span class="_abut mb-8">
    <ul>
        <h2  class="mt-4 mb-2 " style="color: #007bff;"> Our services:</h2>
   
    
        <li>● Quick Delivery</li>
<li>● Easy payment method</li>
<li>● Reliable packaging</li>
<li>● Easy return policy</li>

If you have any questions or comments, please don't hesitate to contact us.
    </ul>
</span>
<!--
<span class="_abut">Sincerely, Name, [title, ie: CEO, Founder, etc.]</span>
<br>
<span class="_abut">Our Logo: (A description for the company logo like why it is designed in this form with
    what is in view).</span>-->
</div>
<div class="col-sm-4 col-12" style="margin: auto;">
    <img src="assets/img/banner image 2.png" class="img-responsive" style="vertical-align:middle" >
</div>
</div>
</div>
</div>
<app-front-footer></app-front-footer>
</div>