#srch1{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
#srch2{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
#browse{
    height:50px; 
    border:1px solid black;
}

@media (max-width:900px){
    #browse{
        height:70px; 
    }
}

@media (max-width:440px){
    .fnt{
        font-size:10px;
    }
}