<div class="container-fluid p-0" style="background-color:#F4F4F4">
 <!--header starts here-->
  <app-seller-header></app-seller-header>
  <!--header starts here-->
 
    <div class="row">
        <div class="col-md-10 col-12"  style="margin: auto;">
<h3  class=" mt-2" > Complete Pending Products</h3>
<p>Listings that don’t meet valid data requirements at the time of submission will now be stored as pending products. You can view and incrementally work on these 
    listings via the Complete Your Drafts page. You can add missing data or correct invalid data for your drafts one at a time or in bulk.</p>

        </div>
    </div>
</div>
  <!--footer starts here-->
<app-seller-footer></app-seller-footer>
<!--footer starts here-->
