<footer class="page-footer font-small elegant-color">

  
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left ">

    <!-- Grid row -->
    <div class="row mt-1 mt-md-0 mb-md-0">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto col-5 mt-md-0 mb-0">

        <!-- Links -->
        <p class="fhsh">For Customers</p>
        <hr class="color-primary  mt-0 d-inline-block mx-auto w-60">

        <ul class="ful foot-desc" style="margin-top: -19px; list-style: none;" >
          <li class="pabbb vikker">
            <a class="sublek"  routerLink="#" >About The Project</a>
          </li>
          <li class="pabbb">
            <a class="sublek" href="#!">Terms Of Use</a>
          </li>
          <li class="pabbb">
            <a class="sublek" href="#!">FAQ</a>
          </li>
          <li class="pabbb">
            <a class="sublek" href="#!" >Return Policy</a>
          </li>
          <li class="pabbb">
              <a class="sublek" href="#!" >Cancellation Policy</a>
          </li>
          <li class="pabbb">
              <a class="sublek" href="#!">Age Restriction Policy</a>
            </li>
          <li class="pabbb">
                <a class="sublek" href="#!">General</a>
          </li>




        </ul>

      </div>
      <!-- Grid column -->

      
      <hr class="clearfix w-100  harabal d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 ruksm mx-auto col-2 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <p class="fhsh">Help</p>
        <hr class="color-primary mt-0 d-inline-block mx-auto w-60">

        <ul class=" foot-desc" style="margin-top: -19px; list-style: none;">
          <li class="pabbb">
            <a class="sublek" href="#!">Customer Care</a>
          </li>
          <li class="pabbb">
            <a class="sublek" href="#!">Email</a>
          </li>
          <li class="pabbb">
            <a class="sublek" routerLink='/contact' >Contact</a>
          </li>
         
        </ul>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->

      <hr class="clearfix w-100 harabal d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto col-4 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <p class="fhsh">For Sellers</p>
        <hr class="color-primary mt-0 d-inline-block m-0 p-0 mx-auto w-60">

        <ul class=" foot-desc" style="margin-top: -19px; list-style: none;">

          <li class="pabbb">
            <a class="sublek" href="#!">Start Selling</a>
          </li>
          <li class="pabbb">
            <a class="sublek" href="#!">Rules For Sellers</a>
          </li>
          <li class="pabbb">
            <a class="sublek" href="#!">Help Sellers</a>
          </li>
          <li class="pabbb">
            <a class="sublek" href="#!">AML Policy</a>
          </li>
         
         
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix harabal w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto col-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <p class="fhsh">Discover</p>
        <hr class="color-primary  mt-0 d-inline-block mx-auto w-60">

     
        <ul class="foot-desc" style="margin-top: -19px; list-style: none;">
          <li class="pabbb">
            <a class="sublek" href="#!" >Products</a>
          </li>
          <li class="pabbb">
            <a class="sublek" href="#!" >Opportunities</a>
          </li>
          <li class="pabbb">
            <a class="sublek" href="#!" >Festival Offer</a>
          </li>
         
        </ul>

      </div>
      <!-- Grid column -->
      <hr class="clearfix harabal w-100 d-md-none">
<!-- Grid column -->
<div class="col-md-3 hover-effect mx-auto mt-md-0 mb-0 mb-md-4">

  <!-- Links -->
  <p class="fhsh">Connect Us</p>
  <hr class="color-primary  mt-0 d-inline-block mx-auto w-60">

  <ul class=" yhgffd" style="margin-top: -19px; list-style: none;">
    <li class="mb-1"><a class="setw facebook" href="https://www.facebook.com/profile.php?id=100070841318464"><i class="fa fa-facebook"></i></a> 
  
      <li><a class="setw instagram" href="https://instagram.com/impexicomprivatelimited?utm_medium=copy_link"><i class="fa fa-instagram"></i></a></li>
    <li><a class="setw linkedin" href="https://www.linkedin.com/in/impexicom-privatelimited-46143a217"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="setw twitter" href="https://twitter.com/impexicom?s=08"><i class="fa fa-twitter"></i></a>
  </ul>

</div>
<!-- Grid column -->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright pp " >
      <div  class="contr">
         
          <a href="https://mdbootstrap.com/" class="ffc">  Copyright 2020 VirtualGain. All rights reserved. </a>
      </div>
      <div class="furl">
         <span class="ffc">Call Us: 1800 200 6568 </span>
         <span class="ffc">Mail Us: info@days365.com </span>
      </div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
