<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>

            <mat-tab-group>
                <mat-tab label="MARKET HISTORY">
                    <mat-card-content>


                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <th>Type</th>
                                        <th>Currency</th>
                                        <th>Date and Time</th>
                                        <th>Transaction Id</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>Deposit</td>
                                        <td>BTC</td>
                                        <td>13-08-18 10:03:00</td>
                                        <td>123456dfhhf12456336hh</td>
                                        <td>0.0254861</td>
                                        <td>Successfull</td>

                                    </tr>
                                    <tr>

                                        <td>Withdraw</td>
                                        <td>BTC</td>
                                        <td>13-08-18 10:03:00</td>
                                        <td>123456dfhhf12456336hh</td>
                                        <td>0.0254861</td>
                                        <td>Successfull</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </mat-card-content>
                </mat-tab>



            </mat-tab-group>

        </mat-card>
    </div>
</div>