<!--header starts here-->
    <header class="row" fxHide.lt-md style="background-color:#262F4E">
        <div class="col-md-3 col-3 font-weight-bold">
            <a class="navbar-brand font-weight-bold text-white" href="#" style="font-size:22px">
                <img src="../.././assets/img/FDays365.png" alt="logo" style="width:80px">&nbsp;Days365
            </a>
        </div>
        <div class="col-md-3 col-3 ml-auto mt-3 p-2 text-center text-white font-weight-bold" style="height:40px; border-radius:10px; background-color:#7CBCE2">
            {{sellername}} | India
        </div>
     <div class="col-2 mt-3 p-1 ml-xl-5" style="height:40px">
        <!--
            <div class="input-group input-group-sm">
                <input id="srch1" type="search" class="form-control border border-primary border-right-0" placeholder="Search Product">
                <div class="input-group-append">
                    <button id="srch2" class="btn text-info border border-primary border-left-0 bg-white" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>-->
        </div>
<div class="col-md-2 col-4 mt-3 text-center pt-2 font-weight-bold" style="height:40px;font-size:10px">
      <!----t--    <a href="#">Help</a> | <a href="#">Messages</a> | <a href="#">Settings</a>
      --> </div>
    </header>
    
    <!--navigation starts here-->
    <app-navigation></app-navigation>
    <!--navigation ends here-->

    <!--header on sm device starts here-->
    <div class="row mt-2 mx-1" fxHide.gt-sm>
        <div class=" fnt col-6 text-center pt-2 font-weight-bold text-white" style="height:40px; border-radius:10px; background-color:#7CBCE2">
            {{sellername}} | India
        </div>
        <!--<div class=" col-6 text-center pt-2 font-weight-bold text-white" style="height:40px; border-radius:10px; background-color:#7CBCE2">
            <a href="#" class=" fnt text-white">Help</a> | <a href="#" class="fnt text-white">Messages</a> | <a href="#" class="fnt text-white">Settings</a>
        </div>-->
    </div>
    <!--header on sm device starts here-->
<!--header ends here-->
    
    
