
<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
            <mat-card>
               
                    <mat-tab-group>
                            <mat-tab label="TRANSACTION WITHDRAW DETAILS">
                                <mat-card-content>
                                    
                                    
           
           
         
         
           
           
     
                                    
                                    
                              <div class="table-responsive">
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                    
                                      <th>S.No</th>
                                      <th>Withdraw From</th>
                                      <th>Order Id</th>
                                      <th>Withdraw to</th>
                                      <th>Currency</th>
                                      <th>Actual amount</th>
                                      <th>Fees</th>
                                      <th>Total Amount</th>
                                      <th> Wallet Balance</th>
                                      <th>Withdraw </th>
                                      <th>Status</th>
                                      <th>Action</th>
                                     
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>1</td>
                                      <td>123456</td>
                                      <td>1127897</td>
                                      <td>22452</td>
                                      <td>BTC</td>
                                      <td>6567797</td>
                                      <td>250</td>
                                      <td>123456</td>
                                      <td>WEEbdjbkjsb324442</td>
                                      <td>sakhu@gmail.com</td>
                                      <td>9665471600</td>
                                      <td>fyfyifiuuis123424</td>
                                       
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                                                              
  
                                </mat-card-content>
                           </mat-tab>
  
                           
  
                    </mat-tab-group>
                  
            </mat-card>    
    </div>
  </div>
  
