<app-front-header></app-front-header>



<div id="container-fluid " style="background-color:#f1f3f6; ">

    <div class="row">
        <div class="  col-sm-2"></div>
        <div class="col-sm-8 ">
            <div class="container-fluid mt-3 mb-3 nm">
                <div class="row">

                    <div class="col-sm-5 bcv">
                        <span class="_36KMOx">
                            <span>Forgot Password</span>
                        </span>
                        <p style="color: #dbdbdb; font-size: 18px; margin-top: 16px;
                line-height: 150%;">
                            <span>Reset your password.</span>
                        </p>
                        <!-- <div class="account-options text-center">
                            <button type="button" class="btn btn-light" [ngClass]="{'active':isUserActive}"
                                (click)="enableUserAccount()" [disabled]="isUserActive">User
                                Account</button>
                            <br>
                            <button type="button" class="btn btn-light" [ngClass]="{'active':!isUserActive}"
                                (click)="enableVendorAccount()" [disabled]="!isUserActive">Seller
                                Account</button>
                        </div> -->
                    </div>



                    <div class=" col-sm-7">
                        <div *ngIf="step == 1 && !spinner" class="login-form">

                            <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendOTP()">
                                <div class="form-group text-field" style="margin-top: 2rem;">

                                    <input type="text" id="username" autocomplete="off" formControlName="username"
                                        [ngClass]="{'is-invalid':submitted && f1.username.errors}" required>
                                    <span></span>
                                    <label for="username">
                                        Enter your email or mobile number *
                                    </label>

                                </div>
                                <div *ngIf="submitted && f1.username.errors" >
                                    <div *ngIf="f1.username.errors.required"class="invalid">
                                        This field is required.
                                    </div>
                                </div>

                                <div *ngIf="errorMessage" class="invalid">
                                    <div>
                                        {{errorMessage}}
                                    </div>
                                </div>

                                <div class="_1D1L_j mt-1 bottom-padding">
                                    <button class="_2KpZ6l  " type="submit" style="background-color: #fb641b;">
                                        CONTINUE
                                    </button>
                                </div>

                                <div class="text-center top-padding bottom-padding">
                                    <a [routerLink]="'/sign-up'">New to Days365 ?
                                        <b>Create an account.</b></a>
                                </div>
                            </form>

                        </div>


                        <div *ngIf="step == 2 && !spinner" class="login-form">

                            <form [formGroup]="otpForm" (ngSubmit)="verifyOTP()">
                                <div class="form-group text-field" style="margin-top: 2rem;">

                                    <input type="text" id="otp" autocomplete="off" formControlName="otp"
                                        [ngClass]="{'is-invalid':submitted && f2.otp.errors}" required>
                                    <span></span>
                                    <label for="otp">
                                        Enter OTP *
                                    </label>

                                </div>
                                <div *ngIf="submitted && f2.otp.errors" class="invalid">
                                    <div *ngIf="f2.otp.errors.required">
                                        This field is required.
                                    </div>
                                    <div *ngIf="f2.otp.errors.pattern">
                                        Please enter a valid OTP.
                                    </div>
                                </div>

                                <div *ngIf="errorMessage" class="invalid">
                                    <div>
                                        {{errorMessage}}
                                    </div>
                                </div>

                                <div class="_1D1L_j mt-1 bottom-padding">
                                    <button class="_2KpZ6l  " type="submit" style="background-color: #fb641b;">
                                        CONTINUE
                                    </button>
                                </div>
                            </form>

                        </div>


                        <div *ngIf="step == 3 && !spinner" class="login-form">

                            <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">

                                <div class="form-group text-field">
                                    <input type="password" id="password" autocomplete="off" formControlName="password"
                                        [ngClass]="{'is-invalid':submitted && f3.password.errors}" required
                                        (keyup)="comparePasswords()">
                                    <span></span>
                                    <label for="password">Enter new password *
                                    </label>
                                </div>
                                <div *ngIf="submitted && f3.password.errors" class="invalid">
                                    <div *ngIf="f3.password.errors.required">
                                        This field is required
                                    </div>
                                    <div *ngIf="f3.password.errors.minlength">
                                        Minimum length is 6
                                    </div>
                                    <div *ngIf="f3.password.errors.maxlength">
                                        Maximum length is 50
                                    </div>
                                </div>


                                <div class="form-group text-field">

                                    <input type="password" id="confirmPassword" autocomplete="off"
                                        formControlName="confirmPassword"
                                        [ngClass]="{'is-invalid':submitted && f3.confirmPassword.errors}" required
                                        (keyup)="comparePasswords()">
                                    <span></span>
                                    <label for="confirmPassword">
                                        Re-enter Your password *
                                    </label>

                                </div>
                                <div *ngIf="submitted && !pass" class="invalid">
                                    <div>
                                        Passwords mismatched
                                    </div>
                                </div>

                                <div *ngIf="errorMessage" class="invalid">
                                    <div>
                                        {{errorMessage}}
                                    </div>
                                </div>

                                <div class="_1D1L_j mt-1 bottom-padding">
                                    <button class="_2KpZ6l  " type="submit" style="background-color: #fb641b;">
                                        CONTINUE
                                    </button>
                                </div>
                            </form>

                        </div>

                        <div class="paginator" *ngIf="spinner">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<app-front-footer></app-front-footer>