* {
    box-sizing: border-box;

}

form .text-field {
    position     : relative;
    border-bottom: 2px solid #878787;
    margin-top   : 20px;
    margin-bottom: 30px;
}

.text-field input {
    width: 100%;

    height   : 40px;
    font-size: 14px;
    border   : none;
    outline  : none;
}

.text-field label {
    position      : absolute;
    top           : 50%;
    left          : 5px;
    color         : #878787;
    transform     : translateY(-50%);
    font-size     : 14px;
    pointer-events: none;
    transition    : .5s;

}

.text-field span::before {
    content   : "";
    position  : absolute;
    top       : 40px;
    left      : 0;
    width     : 0%;
    height    : 2px;
    background: #2874f0;

}

.text-field input:focus~label,
.text-field input:valid~label {
    top  : -5px;
    color: #2874f0;

}

.text-field input:focus~span::before,
.text-field input:valid~label {
    width: 100%;
}


._2YULOR {
    color      : #ff6161;
    font-size  : 12px;
    position   : absolute;
    font-weight: 500;
    bottom     : -20px
}



.nm {
    box-shadow      : rgb(0 0 0 / 8%) 0px 2px 4px 0px;
    background-color: #fff;

}

.row {

    display: flex;

    flex-flow: row wrap;
}

._36KMOx {
    font-size  : 28px;
    font-weight: 500;
}


.bcv {
    background-color: #2874f0;
    color           : #fff;
    padding         : 40px 33px;
    font-size       : 15px;
}

._2QKxJ- {
    position   : absolute;
    display    : inline-block;
    bottom     : 10px;
    font-weight: 500;
    font-size  : 15px;
    cursor     : pointer;
    color      : #2874f0;
    right      : 0;
}

._1Ijv5h {
    color      : #878787;
    font-size  : 12px;
    font-weight: 400;
}




._1D1L_j {
    margin-top: 10px;
}

._2KpZ6l {
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border    : none;
    color     : #fff;
    width     : 100%;
    height    : 48px;
    font-size : 15px;

}



._1k3JO2 {
    margin-top: 16px;
    text-align: center;
    color     : #878787;
}


._2KpZ6l {
    display      : inline-block;
    border-radius: 2px;

    padding: 10px 20px;

    font-weight   : 500;
    transition    : box-shadow .2s ease;
    vertical-align: super;
    background    : #fff;
    cursor        : pointer;
    outline       : none;

}







.invalid {
    color        : red;
    margin-bottom: 5px;
}

.pointer {
    cursor: pointer;
}



.top-padding {
    margin-top: 20px;
}

.bottom-padding {
    margin-bottom: 20px;
}



.paginator {
    top: 25%;
}

.classic {
    border-radius: 0;
}

.loader {
    border           : 8px solid #f3f3f3;
    border-radius    : 50%;
    border-top       : 8px solid #8cc63f;
    border-bottom    : 8px solid #007bff;
    width            : 60px;
    height           : 60px;
    -webkit-animation: spin 1s linear infinite;
    animation        : spin 1s linear infinite;
    margin           : 0 auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.account-options {
    margin    : 0 auto;
    padding   : 10px;
    margin-top: 50px;
}

.account-options button {
    margin: 10px;
}

.account-options .active,
.account-options .btn:hover {
    background-color: #fb641b;
    color           : rgb(234, 239, 241);
}


.heading p {
    color    : #007bff;
    font-size: large;
}