<section class="content">

    <div class="row" style="padding: 25px 10px;">
      <div class="col-lg-3 col-xs-6">
        <div class="small-box" style="background-image: linear-gradient(to right, #FEB507,#5B5C34 );">
          <div class="inner" style="color: #fff;">
            <h3>11105</h3>

            <p>Register Users</p>
          </div>
          <div class="icon">
            <img src="assets/images/icon/1.png">
          </div>

        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        <div class="small-box  " style=" background-image: linear-gradient(to right, #E47967,#6C415C);">
          <div class="inner" style="color: #fff;">
            <h3>53<sup style="font-size: 20px">%</sup></h3>

            <p>Bounce Rate</p>
          </div>
          <div class="icon">
            <img src="assets/images/icon/2.png">
          </div>

        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        <div class="small-box " style=" background-image: linear-gradient(to right, #2CBDC8,#234E6E  );">
          <div class="inner" style="color: #fff;">
            <h3>44</h3>

            <p>User Registrations</p>
          </div>
          <div class="icon">
            <img src="assets/images/icon/3.png">
          </div>

        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        <div class="small-box " style=" background-image: linear-gradient(to right,  #8074FC ,#5D3F91 );">
          <div class="inner" style="color: #fff;">
            <h3>65</h3>

            <p>Unique Visitors</p>
          </div>
          <div class="icon">
            <img src="assets/images/icon/4.png">
          </div>

        </div>
      </div>

    </div>

    <div class="row" style="padding: 0px 10px;">
      <div class="col-lg-3 col-xs-6">
        <div class="small-box " style=" background-image: linear-gradient(to right,  #8074FC ,#5D3F91  );">
          <div class="inner" style="color: #fff;">
            <h3>65</h3>

            <p>Unique Visitors</p>
          </div>
          <div class="icon">
            <img src="assets/images/icon/5.png">
          </div>

        </div>
      </div>


      <div class="col-lg-3 col-xs-6">

        <div class="small-box " style=" background-image: linear-gradient(to right, #2CBDC8,#234E6E);">
          <div class="inner" style="color: #fff;">
            <h3>44</h3>

            <p>User Registrations</p>
          </div>
          <div class="icon">
            <img src="assets/images/icon/6.png">
          </div>

        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        <div class="small-box  " style=" background-image: linear-gradient(to right, #E47967,#6C415C );">
          <div class="inner" style="color: #fff;">
            <h3>53<sup style="font-size: 20px">%</sup></h3>

            <p>Bounce Rate</p>
          </div>
          <div class="icon">
            <img src="assets/images/icon/7.png">
          </div>

        </div>
      </div>

      <div class="col-lg-3 col-xs-6">

        <div class="small-box" style=" background-image: linear-gradient(to right,  #FEB507,#5B5C34 );">
          <div class="inner" style="color: #fff;">
            <h3>11105</h3>

            <p>Register Users</p>
          </div>
          <div class="icon">
            <img src="assets/images/icon/1.png">
          </div>

        </div>
      </div>


    </div>

  </section>