<app-front-header></app-front-header>



<div class="container-fluid">
    <div class="row">
        <br>

        <aside class="col-sm-12 col-lg-3  _bestselle">
            
<!--
            <div class="card vindu" style="margin-top: 18px;">
                <article class="card-group-item">
                    <header class="card-header ch">
                        <p class="title1">Categories </p>
                    </header>
                    <div class="filter-content">

                        <div class="list-group list-group-flush">
                            <a href="#myModal" data-toggle="modal" data-target="#myModal"
                                class="list-group-item setc"><img src="assets/img/c1.png" class="ci"> <span>Foods
                                    Supplements</span> </a>
                            <a href="#" class="list-group-item setc">
                                <img src="assets/img/c2.png" class="ci"> Men's Clothing </a>
                            <a class="list-group-item setc"><img src="assets/img/c3.png" class="ci"> Computer and
                                Office</a>
                            <a href="#" class="list-group-item setc"> <img src="assets/img/c4.png" class="ci">
                                Consumer Electronics </a>
                            <a href="#" class="list-group-item setc"><img src="assets/img/mobile.png" class="ci"
                                    style="height: 28px;"> Mobile Phones </a>-->
                            <!--<a href="#" class="list-group-item setc"><img src="assets/img/c2.png" class="ci"> Home
                                    Appliences</a>--><!--
                            <a href="#" class="list-group-item setc"><img src="assets/img/c7.png" class="ci">
                                Jewelry and Accessories </a>
                            <a href="#" class="list-group-item setc"><img src="assets/img/c8.png" class="ci"> Child
                                Care </a>
                            <a href="#" class="list-group-item setc"><img src="assets/img/c2.png" class="ci"> Home
                                Appliances</a>


                        </div> --><!-- list-group .// -->
                   <!--</div>
                </article>--> <!-- card-group-item.// -->



<!--
            </div>

            <div class="vindu mt-1">
                <img src="assets/img/vertical-product.jpg" alt="Los Angeles" style="width: 100%;height: 345px;">
            </div>



            <div class="card vindu" style="margin-top: 18px;">
                <article class="card-group-item">
                    <header class="card-header ch">
                        <p class="title1">Bestsellers </p>
                    </header>
                    <div class="container-fluid">
                        <div class="container-fluid  ml-0 mb-1 mt">
                            <div class="row">
                                <div class="col-sm-5 col-xl-5 col-lg-4">

                                    <div class="card hemmmm">

                                        <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-5  col-xl-4 pl-0 pr-0 mt-1.2"
                                    style="font-size:12px; color: grey;">
                                    <b>Product Name</b><br>Marketed By:2<br>Chat for query
                                </div>
                                <div class="col-sm-3 rak pr-0 mt-1.2" style="color: grey; font-size: 12px;">
                                    <b>Rs.500</b>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-1.2">
                            <div class="row">
                                <div class="col-sm-5 col-lg-4 col-xl-5">
                                    <div class="card hemmmm">

                                        <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-5 col-xl-4 pl-0 pr-0 mt-1"
                                    style="font-size:12px; color: grey;">
                                    <b>Product Name </b><br>Marketed By:2<br>Chat for query
                                </div>
                                <div class="col-sm-3  pr-0 mt-1.2" style="color: grey; font-size: 12px;">
                                    <b>Rs.500</b>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-1 ">
                            <div class="row">
                                <div class="col-sm-5 col-lg-4 col-xl-5">
                                    <div class="card hemmmm">

                                        <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-5 col-xl-4 pl-0 pr-0 mt-1"
                                    style="font-size:12px; color: grey;">
                                    <b>Product Name </b><br>Marketed By:2<br>Chat for query
                                </div>
                                <div class="col-sm-3  pr-0 mt-1.2" style="color: grey; font-size: 12px;">
                                    <b>Rs.500</b>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid mt-1 mb-3 ">
                            <div class="row">
                                <div class="col-sm-5 col-xl-5 col-lg-4">
                                    <div class="card hemmmm">
                                        <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-5  col-xl-4  pl-0 pr-0 mt-1.2"
                                    style="font-size:12px; color: grey;">
                                    <b>Product Name</b><br>Marketed By:2<br>Chat for query
                                </div>
                                <div class="col-sm-3  pr-0 mt-1.2" style="color: grey;font-size: 12px;">
                                    <b>Rs.500</b>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <div class="card vindu mt-1">
                <div class="container-fluid">

                    <div class="container-fluid mt-1 mb-3 ">
                        <div class="row">
                            <div class="col-sm-5 col-xl-5 col-lg-4">
                                <div class="card hemmmm">
                                    <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-5  col-xl-4  pl-0 pr-0 mt-1.2"
                                style="font-size:12px; color: grey;">
                                <b>Product Name</b><br>Marketed By:2<br>Chat for query
                            </div>
                            <div class="col-sm-3  pr-0 mt-1.2" style="color: grey;font-size: 12px;">
                                <b>Rs.500</b>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid mt-1 mb-3 ">
                        <div class="row">
                            <div class="col-sm-5 col-xl-5 col-lg-4">
                                <div class="card hemmmm">
                                    <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-5  col-xl-4  pl-0 pr-0 mt-1.2"
                                style="font-size:12px; color: grey;">
                                <b>Product Name</b><br>Marketed By:2<br>Chat for query
                            </div>
                            <div class="col-sm-3  pr-0 mt-1.2" style="color: grey;font-size: 12px;">
                                <b>Rs.500</b>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card vindu mt-1">
                <div class="container-fluid">

                    <div class="container-fluid mt-1 mb-3 ">
                        <div class="row">
                            <div class="col-sm-5 col-xl-5 col-lg-4">
                                <div class="card hemmmm">
                                    <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-5  col-xl-4  pl-0 pr-0 mt-1.2"
                                style="font-size:12px; color: grey;">
                                <b>Product Name</b><br>Marketed By:2<br>Chat for query
                            </div>
                            <div class="col-sm-3  pr-0 mt-1.2" style="color: grey;font-size: 12px;">
                                <b>Rs.500</b>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid mt-1 mb-3 ">
                        <div class="row">
                            <div class="col-sm-5 col-xl-5 col-lg-4">
                                <div class="card hemmmm">
                                    <img src="assets/img/pr1.jpg" class="img-fluid" alt="...">
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-5  col-xl-4  pl-0 pr-0 mt-1.2"
                                style="font-size:12px; color: grey;">
                                <b>Product Name</b><br>Marketed By:2<br>Chat for query
                            </div>
                            <div class="col-sm-3  pr-0 mt-1.2" style="color: grey;font-size: 12px;">
                                <b>Rs.500</b>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        -->
        </aside>

        <br>
        <div class="col-12 col-lg-12">
            <div class="row">
        <div class="col-sm-12 col-12 col-lg-12 mt _hoontr ">
            <div class="container-fluid">

                <div class="container-fliud">
                    <div class="wrapper row">
                        <div class="preview col-md-5 mt">
<span>
                            <div class="preview-pic tab-content">
                                
                                <div class="tab-pane active" id="pic-5" style=" box-shadow: 0px 5px 5px 5px #5D86BC38;">
                                    <img [src]="selectImgOnClick" style="width:100%; height: auto;" *ngIf="(selectImgOnClick)"></div>
                            </div>
                            <div class=" thu" style="margin: auto;">
                                <ul class="preview-thumbnail bgaf nav nav-tabs dis">
    
                                    <li class="hbbb"><a data-target="#pic-1" data-toggle="tab" aria-expanded="false"><img
                                        [src]="expiryImg" (click)="onSelectImg(expiryImg)" *ngIf="(expiryImg)" class="tan" style="width:100%; height: 55px; margin-top:1rem;"></a></li>
    
                                    <li class="hbbb"><a data-target="#pic-2" data-toggle="tab" aria-expanded="false"><img
                                                [src]="sealImg" *ngIf="(sealImg)" (click)="onSelectImg(sealImg)" style="width:100%; height: 50px;  margin-top:1rem;"></a></li>
    
                                    <li class="hbbb"><a data-target="#pic-3" data-toggle="tab" aria-expanded="false"><img
                                                [src]="MRPImg" *ngIf="(MRPImg)" (click)="onSelectImg(MRPImg)" style="width:100%; height: 50px;  margin-top:1rem;"></a></li>
    
                                    <li class="hbbb"><a data-target="#pic-4" data-toggle="tab" aria-expanded="false"><img
                                        [src]="frontImg" *ngIf="(frontImg)" (click)="onSelectImg(frontImg)" style="width:100%; height: 50px;  margin-top:1rem;"></a></li>
    
                                    <li class="active hbbb"><a data-target="#pic-5" data-toggle="tab"
                                            aria-expanded="true"><img [src]="backImg" *ngIf="(backImg)"  (click)="onSelectImg(backImg)" style="width:100%; height: 50px;  margin-top:1rem;"></a></li>
                                </ul>
                                
                            </div>
                            <div class="row col-sm-12">
                                <div class="text-center col-4 mt-4">
                                    <button class="btn btn-primary btn-block " [routerLink]="'/my-cart'" style="background-color: #ff9f00;; color:white; font-size:16px; box-shadow: none; border: none;"> <i class="fa fa-cart-plus" aria-hidden="true" style="margin-right: 10px;"></i>MY CART</button>
                                </div>
                                <div class="text-center col-4 mt-4">
                                    <button class="btn btn-block" [routerLink]="'/wish-list'" style="background-color: #fb641b; color:white; font-size:16px; box-shadow: none; border: none;"> <i class="fa fa-shopping-bag" style="margin-right: 10px;"></i>WISH LIST</button>
                                </div>  
                                <div class="text-center col-4 mt-4">
                                    <button class="btn  btn-block btn-primary " color="accent" [routerLink]="'/shipping'" style=" color:white; font-size:16px; box-shadow: none; border: none; "> <i class="fa fa-bolt" aria-hidden="true"style="margin-right: 10px;"></i>BUY NOW</button>
                                </div>
                            </div>
</span>

                        </div>
            
                     

                        <div class="col-sm-7 mt-5" style="margin-right:0px ;">
                            <h4 style="font-size: 18px;" *ngIf="(productVariants && productVariants[0] &&  productVariants[0].title)">Title: {{productVariants[0].title}}</h4>

                            <span style="display: flex;">
                                <H6 style="float:center; color: black;"*ngIf="(productVariants && productVariants[0] &&  productVariants[0].brandName)" style="font-weight: bold;">Brand : {{productVariants[0].brandName}}</H6>
                                <span  class="fa fa-star checked" style="padding-left: 10px;"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchked"></span>
                                <span class="fa fa-star unchked"></span>
                            </span>
                            
                            <h6 style="font-size: 14px;  " *ngIf="(productVariants && productVariants[0] &&  productVariants[0].manuFacturer)">Manufacturer : {{productVariants[0].manuFacturer}}</h6>

                            <H6 style="float:center; color: black;"> Availability: <span style="color:#7CFC00 ;">In
                                    stock</span>
                            </H6>

                            <H6 style="float:center; color: black; ">  Best Before : {{expiryDate | date:'mediumDate'}}</H6>
                            
                            <h6 style="font-size: 15px;">MRP: <b><span style=" -webkit-text-decoration-line: line-through; /* Safari */
                                    text-decoration-line: line-through;  ">₹. {{MRP}}</span></b></h6>

                            <h6 style="font-size: 19px;  ">Price: ₹{{yourPrice}} <span style="font-size:14px; padding-left: 8px;">MRP(Inclusive of all taxes)</span></h6>
                            <h6 style=" color:#ee9b20; font-size: 14px;  ">You Save
                                Rs.{{youSave}} </h6>


                        
                            <div class="container-fliud">
                                <div class="row">
                                    <div class="col-12">
                                        <form [formGroup]="productDetailsForm" (ngSubmit)="onSubmit()">
                                            <div class="form-row">
                                                <div class="form-group col-6" >
                                                    <label style="font-weight: bold;">Size:</label>
                                                    <select formControlName="title" (change)="onSizeOptionsSelected($event)"  formControlName="size" class="form-control  custom-select"
                                                        [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                                        <option value="" selected>Select Size</option>
                                                        <option *ngFor="let size of productSizeVariant">{{size}}</option>
                                                        
                                                    </select>
                                                    <!-- <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                                        <div *ngIf="f.title.errors.required">size is required</div>
                                                    </div> -->
                                                </div>
                                                <div class="form-group col-6">
                                                    <label style="font-weight: bold;">Flavour:</label>
                                                    <select [(ngModel)]="selectedFlavour" (change)="onOptionsSelected()"  formControlName="flavour" class="form-control custom-select btn" >
                                                        <option [ngValue]="" selected>Select Flavour</option>
                                                        <option *ngFor="let opt of productVariants" [ngValue]=opt>{{opt._id}}</option>
                                                      
                                                    </select>
                                                    <!-- <div *ngIf="submitted && f.flavour.errors" class="invalid-feedback">
                                                        <div *ngIf="f.flavour.errors.required">flavour is required</div>
                                                    </div> -->
                                                </div>
                                            </div>

                                          
                                        </form>
                                      
                                    </div>
                                </div>
                                
                                <p *ngIf="foodType=='Vegetarian'" style="margin-top: 2rem; font-size: 17px; font-weight: bold;"><i class="fa fa-dot-circle-o " style="color:green;width:30px" aria-hidden="true"></i>This is a {{foodType}} product.</p>
                                <p *ngIf="foodType!='Vegetarian'" style="margin-top: 2rem; font-size: 17px; font-weight: bold;"><i class="fa fa-dot-circle-o " style="color:orangered;width:30px" aria-hidden="true"></i>This is a {{foodType}} product.</p>
                                    <!--
                                <p style="font-weight: bold;" >Key Features:</p>
                                
                                    <p *ngFor="let key of keyFeature; let i = index"> {{i+1}}) {{key}}</p>-->
                                   
                                    
                          
                                </div>
                        </div>


                     

                        <!-- <div class="container-fluid mb-5 ">
                            <div class="row">

                                <div class="col-sm-7 mt">
                                    <div class="nn " style="color:grey">
                                        <a href="my-card" style="color:grey">Add to
                                            Card</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="wish-list"
                                            style="color:grey">Wish
                                            List</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" style="color:grey">Add
                                            To Compare</a>
                                    </div>
                                </div>
                            </div>

                        </div> -->

                    </div>

                </div>
            </div>

</div>
</div>
            <div class="container mt-5 mb-2">
                <div class="row">
                    <div class="col-xs-12 col-12 col-lg-12 col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="font-weight: bold;">

                                <a class="nav-item vcnmk nav-link active" id="nav-comparision-tab" data-toggle="tab"
                                    href="#nav-compaeision" role="tab" aria-controls="nav-comparision"
                                    aria-selected="true">DESCRIPTION</a>
                                    
                                <a class="nav-item vcnmk nav-link" id="nav-details-tab" data-toggle="tab"
                                    href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="false"
                                   > ADDITIONAL INFORMATION </a>

                                <!-- <a class="nav-item vcnmk nav-link" id="nav-review-tab" data-toggle="tab"
                                    href="#nav-review" role="tab" aria-controls="nav-review" aria-selected="false"
                                    >REVIEW</a>

                                <a class="nav-item vcnmk   nav-link" id="nav-offers-tab" data-toggle="tab"
                                    href="#nav-offers" role="tab" aria-controls="nav-offers" aria-selected="false"
                                   >OFFERS</a> -->
                            </div>
                        </nav>
                        <div class="tab-content rakshat py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-comparision" role="tabpanel"
                                aria-labelledby="nav-comparision-tab">
                                <p style="padding-left:1rem; padding-top:1rem; padding-bottom: 1rem;" *ngIf="(productVariants && productVariants[0] &&  productVariants[0].productDescription)">
                                    {{productVariants[0].productDescription}}
                                </p>
                            </div>
                            <div class="tab-pane fade" id="nav-details" role="tabpanel"
                                aria-labelledby="nav-details-tab">
                                <p style="padding-left:1rem; padding-top:1rem; padding-bottom: 1rem;" *ngIf="(productVariants && productVariants[0] &&  productVariants[0].productDescription)">
                                    {{productVariants[0].productDescription}}
                                </p>
                            </div>
                            <!-- <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab"
                                style="color: black;  padding-bottom: 1rem;">
                                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui
                                minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt
                                est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt
                                irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis
                                veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation
                                mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit
                                occaecat anim ullamco ad duis occaecat ex.
                            </div>
                            <div class="tab-pane fade" id="nav-offers" role="tabpanel" aria-labelledby="nav-offers-tab"
                                style="color: black; padding-bottom: 1rem;">
                                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui
                                minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt
                                est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt
                                irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis
                                veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation
                                mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit
                                occaecat anim ullamco ad duis occaecat ex.
                            </div> -->
                        </div>

                    </div>


                </div>

            </div>


            <div class="container-fluid mt mb-2">
                <div class="row">
                    <div class="col-sm-4 nbg">
                        <h4 style="padding-top: 1rem;
                            color: #0e8ce4;"><b>RELATED PRODUCTS</b></h4>
                    </div>
                    <div class="col-sm-8 bvf">
                        <div class="hh " style="color:grey;padding-top: 1rem;"><a href="" style="color:grey">Home</a>><a
                                href="" style="color:grey">Food Supplements</a>><a href=""
                                style="color:grey">Pantry</a>><a href="" style="color:grey">Products 1</a>><a href=""
                                style="color:grey">Product
                                2</a>><a href="" style="color:grey">Product 3</a></div>
                    </div>
                </div>
                <div class="container mt mb-2">
                    <div class="row">


                        <div class="owl-carousel owl-theme">
                            <div class="item">


                                <div class="card mb-1 ">
                                    <img src="assets/img/pr1.jpg" class="img-fluid" style="width: 100%;">
                                </div>

                                <p class="dd mb-1 text-center"> Product Name</p>
                                <p class="dd mb-1 text-center"> Manufacturer 1</p>
                                <p class="dd mb-1 text-center"> Chat For Query</p>
                                <a [routerLink]="'/my-cart'" class="btra"
                                    style=" background:#0e8ce4; color:white; font-size: 15px; padding-left:27%; padding-right:27%; margin-bottom:2rem"><i
                                    class="fa fa-shopping-cart" style="margin-right: 9px;"></i>Add
                                    to Cart</a>
                            </div>


                            <div class="item">
                                <div class="card mb-1">
                                    <img src="assets/img/pr1.jpg" class="img-fluid" style="width: 100%;">
                                </div>


                                <p class="dd mb-1 text-center"> Product Name</p>
                                <p class="dd mb-1 text-center"> Manufacturer 2</p>
                                <p class="dd mb-1 text-center"> Chat For Query</p>
                                <a [routerLink]="'/my-cart'" class="btra"
                                    style=" background:#0e8ce4; color:white; font-size: 15px; padding-left:27%; padding-right:27%;  margin-bottom:2rem"> <i
                                    class="fa fa-shopping-cart" style="margin-right: 9px;"></i>Add
                                    to Cart</a>
                            </div>
                            <div class="item">
                                <div class="card mb-1">
                                    <img src="assets/img/pr1.jpg" class="img-fluid" style="width: 100%;">
                                </div>

                                <p class="dd mb-1 text-center"> Product Name</p>
                                <p class="dd mb-1 text-center"> Manufacturer 3</p>
                                <p class="dd mb-1 text-center"> Chat For Query</p>
                                <a [routerLink]="'/my-cart'" class="btra"
                                    style=" background:#0e8ce4; color:white; font-size: 15px; padding-left:27%; padding-right:27%; margin-bottom:2rem"><i
                                    class="fa fa-shopping-cart" style="margin-right: 9px;"></i>Add
                                    to Cart</a>
                            </div>
                            <div class="item">
                                <div class="card mb-1">
                                    <img src="assets/img/pr1.jpg" class="img-fluid" style="width: 100%;">
                                </div>

                                <p class="dd mb-1 text-center"> Product Name</p>
                                <p class="dd mb-1 text-center"> Manufacturer 3</p>
                                <p class="dd mb-1 text-center"> Chat For Query</p>
                                <a [routerLink]="'/my-cart'" class="btra"
                                    style=" background:#0e8ce4; color:white; font-size: 15px; padding-left:27%; padding-right:27%; margin-bottom:2rem"><i
                                    class="fa fa-shopping-cart" style="margin-right: 9px;"></i>Add
                                    to Cart</a>
                            </div>
                            <div class="item">
                                <div class="card mb-1">
                                    <img src="assets/img/pr1.jpg" class="img-fluid" style="width: 100%;">
                                </div>

                                <p class="dd mb-1 text-center"> Product Name</p>
                                <p class="dd mb-1 text-center"> Manufacturer 3</p>
                                <p class="dd mb-1 text-center"> Chat For Query</p>
                                <a [routerLink]="'/my-cart'" class="btra"
                                    style=" background:#0e8ce4; color:white; font-size: 15px; padding-left:27%; padding-right:27%; margin-bottom:2rem"><i
                                    class="fa fa-shopping-cart" style="margin-right: 9px;"></i>Add
                                    to Cart</a>
                            </div>
                            <div class="item">
                                <div class="card mb-1">
                                    <img src="assets/img/pr1.jpg" class="img-fluid" style="width: 100%;">
                                </div>

                                <p class="dd mb-1 text-center"> Product Name</p>
                                <p class="dd mb-1 text-center"> Manufacturer 3</p>
                                <p class="dd mb-1 text-center"> Chat For Query</p>
                                <a [routerLink]="'/my-cart'" class="btra text-center"
                                    style=" background:#0e8ce4; color:white; font-size: 15px; padding-left:27%; padding-right:27%;margin-bottom:2rem"><i
                                    class="fa fa-shopping-cart" style="margin-right: 9px;"></i>Add
                                    to Cart</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-front-footer></app-front-footer>