<app-front-header></app-front-header>


<div style="">

    <div class="container-fluid">
        <div class="row">
            <br>
            <aside class="col-sm-3">
                 
                <div class="card mt" >
                    <article class="card-group-item">
                        <header class="card-header ch"><h6 class="title text-center">All Categories </h6></header>
                        <div class="filter-content">
                          
                            <div class="list-group list-group-flush">
                            <a  href="#myModal" data-toggle="modal" data-target= "#myModal" class="list-group-item setc" ><img src="assets/img/c1.png" class="ci" > <span>Women's Clothing</span> </a>
                            <a  href="#"  class="list-group-item setc" >
                               <img src="assets/img/c2.png" class="ci" > Men's Clothing </a>
                            <a  href="#" class="list-group-item setc"><img src="assets/img/c3.png" class="ci" > Computer and Office</a>
                            <a  href="#" class="list-group-item setc"> <img src="assets/img/c4.png" class="ci" > Consumer Electronics  </a>
                            <a  href="#" class="list-group-item setc"><img src="assets/img/mobile.png" class="ci" style="height: 28px;"> Mobile Phones </a>
                            <a  href="#" class="list-group-item setc"><img src="assets/img/c2.png" class="ci" > Home Appliences</a>
                            <a  href="#" class="list-group-item setc"><img src="assets/img/c7.png" class="ci" >  Jewelry and Accessories   </a>
                            <a  href="#" class="list-group-item setc"><img src="assets/img/c8.png" class="ci" > Child Care  </a>
                            <a  href="#" class="list-group-item setc"><img src="assets/img/c2.png" class="ci" > Home Appliences</a>
                         
                        
                        </div>  <!-- list-group .// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                  
                </div> <!-- card.// -->
                
                
                
            </aside> 
        
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content" style="top: 10rem;
                    left: -6rem;"> 
                        <div class="modal-header">
                            <h5 class="modal-title" style="font-size: 20px;">Womene's Clothing</h5> 
                        </div>
                         <div class="modal-body">
                        
                               <div class="row">
                                   <div class="setf" style="margin-left: 18px;">
                                 
                            
                                    <h4  id="myInput">Tops and Tees</h4>
                                    <h4>Tshirts</h4>
                                    <h4>Camis</h4>
                                    <h4>Sports</h4>
                                    <h4>Polo Shirts</h4>

                                   </div>
                                   <div class="setf" >
                                    <h4>Jeans</h4>
                                    <br>
                                     <h4>Jumpsuits</h4>
                                     <br>
                                     <h4>Bodysuits</h4>
                                   </div>
                                   <div class="setf">
                                   
                                    <h4>Casuals</h4>
                                    <br>
                                    <h4>Skirts</h4>
                                    <br>
                                    <h4>Shorts</h4>
                               
                                   </div>
                               </div>
                         
                    
                        </div>
                       
                    </div>
                </div>
            </div>

           

           

            <div class="col-md-9">
                <div class="row" style="margin-top: 21px;">

                   
                        <div class="col-md-3">
                            <article class="filter-group">
                                <h5><b> &nbsp;&nbsp; Home / Men's Clothing / Jeans</b></h5>
                                <div class="card-body"> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">GUCCI LUIES</div>
                                     </label> <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                         <div class="custom-control-label">HERMERS </div>
                                     </label> 
                                     <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                         <div class="custom-control-label">CHANNEL</div>
                                     </label>
                                      <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                         <div class="custom-control-label">LOUIS VUITION</div>
                                     </label>
                                     <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                        <div class="custom-control-label">PRADA</div>
                                    </label> 
                                    <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                        <div class="custom-control-label">RALPH LAUREN</div>
                                    </label>
                                    <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                        <div class="custom-control-label">SPUD</div>
                                    </label>
                                   
                                     
                                 </div>
                            
                             </article>
                        </div>
                        <div class="col-md-3">
                            <article class="filter-group">
                                
                                <div class="card-body"> <label class="custom-control" style="visibility: hidden;"> <input type="checkbox"  class="custom-control-input">
                                         <div class="custom-control-label">Better </div>
                                     </label> 
                                     <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                        <div class="custom-control-label">CHANNEL</div>
                                    </label>
                                     <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                        <div class="custom-control-label">LOUIS VUITION</div>
                                    </label>
                                    <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                       <div class="custom-control-label">PRADA</div>
                                   </label> 
                                   <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                       <div class="custom-control-label">RALPH LAUREN</div>
                                   </label>
                                   <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                       <div class="custom-control-label">SPUD</div>
                                   </label>
                                   <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                    <div class="custom-control-label">RALPH LAUREN</div>
                                </label>
                                <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                    <div class="custom-control-label">SPUD</div>
                                </label>
                                 </div>
                            
                             </article>
                        </div>
                        <div class="col-md-3">
                            <article class="filter-group">
                                <h5><b> &nbsp;&nbsp; Brands</b></h5>
                                <div class="card-body">
                                    <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                        <div class="custom-control-label">CHANNEL</div>
                                    </label>
                                     <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                        <div class="custom-control-label">LOUIS VUITION</div>
                                    </label>
                                    <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                       <div class="custom-control-label">PRADA</div>
                                   </label> 
                                   <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                       <div class="custom-control-label">RALPH LAUREN</div>
                                   </label>
                                   <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                       <div class="custom-control-label">SPUD</div>
                                   </label>
                                   <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                    <div class="custom-control-label">RALPH LAUREN</div>
                                </label>
                                <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                    <div class="custom-control-label">SPUD</div>
                                </label>
                                 </div>
                            
                             </article>
                        </div>
                        <div class="col-md-3">
                            <article class="filter-group">
                                    <h5><b> &nbsp;&nbsp; Filters</b></h5>
                                    <div class="card-body">
                                        <label>Price Range</label> 
                                        <input type="range" class="custom-range" min="0" max="100" name="">
                                      
                                        <div class="form-row">
                                            <div class="form-group col-md-6"> <label>Min</label> </div>
                                            <div class="form-group text-right col-md-6"> <label>Max</label> </div>
                                        </div> 
                                         
                                        <label>Benefits</label>
                                        <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                            <div class="custom-control-label">Not good</div>
                                        </label>
                                        <label class="custom-control"> <input type="checkbox"  class="custom-control-input">
                                            <div class="custom-control-label">Not good</div>
                                        </label>

                                        <label>Customer Rating</label>
                                        <input type="range" class="custom-range" min="0" max="100" name="">
                                      
                                        <div class="form-row">
                                            <div class="form-group col-md-6"></div>
                                            <div class="form-group text-right col-md-6"></div>
                                        </div> 

                                    </div>
                               
                            
                             </article>
                        </div>
                 


                    <div class="col-md-3 col-sm-6" style="margin-bottom: 20px!important;">
                        <div class="product-grid">
                            <div class="product-image">
                                <a [routerLink]="'/quick-buy-product-details'">
                                    <img class="pic-1 ib" src="assets\img\q1.jpeg">
                                    <img class="pic-2 ib" src="assets/img/pp.Jpeg">
                                </a>
                               
                             
                            </div>
                           
                            <div class="product-content" style="padding-left: 5px;
                            padding-bottom: 0px;">
              
                           
                                <h3 class="title" style="margin-top: -16px;"><a href="my-card"> <span style="float:left;"> <img class="pic-1" src="assets/img/wish.png" style="width: 15px;"> <b> GLORDANI GOLD</b> </span> &nbsp;&nbsp;&nbsp;<span><b>Rs.500</b> </span> </a></h3>
                                <div class="product-small title">
                                   <h4 class="title product-cont" style="float:left;margin-bottom: 6px;"><img class="pic-1" src="assets/img/link.png" style="width: 15px;margin-left: -15px;"> Gold Glow Iconic Lipstick SPF 15</h4>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="margin-bottom: 20px!important;">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#">
                                    <img class="pic-1 ib" src="assets/img/q2.jpeg">
                                    <img class="pic-2 ib" src="assets/img/q2-1.Jpeg">
                                </a>
                               
                             
                            </div>
                            <div class="product-content" style="padding-left: 5px;
                            padding-bottom: 0px;">
              
                           
                                <h3 class="title" style="margin-top: -16px;"><a href="my-card"> <span style="float:left;"> <img class="pic-1" src="assets/img/wish.png" style="width: 15px;"> <b> GLORDANI GOLD</b> </span> &nbsp;&nbsp;&nbsp;<span><b>Rs.500</b> </span> </a></h3>
                                <div class="product-small title">
                                   <h4 class="title product-cont" style="float:left;margin-bottom: 6px;"><img class="pic-1" src="assets/img/link.png" style="width: 15px;margin-left: -15px;"> Gold Glow Iconic Lipstick SPF 15</h4>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="margin-bottom: 20px!important;">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#">
                                    <img class="pic-1 ib" src="assets/img/q3.jpeg">
                                    <img class="pic-2 ib" src="assets/img/q31.Jpeg">
                                </a>
                              
                             
                            </div>
                           
                            <div class="product-content" style="padding-left: 5px;
                            padding-bottom: 0px;">
              
                           
                                <h3 class="title" style="margin-top: -16px;"><a href="my-card"> <span style="float:left;"> <img class="pic-1" src="assets/img/wish.png" style="width: 15px;"> <b> GLORDANI GOLD</b> </span> &nbsp;&nbsp;&nbsp;<span><b>Rs.500</b> </span> </a></h3>
                                <div class="product-small title">
                                   <h4 class="title product-cont" style="float:left;margin-bottom: 6px;"><img class="pic-1" src="assets/img/link.png" style="width: 15px;margin-left: -15px;"> Gold Glow Iconic Lipstick SPF 15</h4>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="margin-bottom: 20px!important;">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#">
                                    <img class="pic-1 ib" src="assets/img/q4.jpeg">
                                    <img class="pic-2 ib" src="assets/img/q41.Jpeg">
                                </a>
                               
                            </div>
                           
                            <div class="product-content" style="padding-left: 5px;
                            padding-bottom: 0px;">
              
                           
                                <h3 class="title" style="margin-top: -16px;"><a href="my-card"> <span style="float:left;"> <img class="pic-1" src="assets/img/wish.png" style="width: 15px;"> <b> GLORDANI GOLD</b> </span> &nbsp;&nbsp;&nbsp;<span><b>Rs.500</b> </span> </a></h3>
                                <div class="product-small title">
                                   <h4 class="title product-cont" style="float:left;margin-bottom: 6px;"><img class="pic-1" src="assets/img/link.png" style="width: 15px;margin-left: -15px;"> Gold Glow Iconic Lipstick SPF 15</h4>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
   
                    <div class="col-md-3 col-sm-6" style="margin-bottom: 20px!important;">
                        <div class="product-grid">
                            <div class="product-image">
                                <a [routerLink]="'/quick-buy-product-details'">
                                    <img class="pic-1 ib" src="assets\img\q1.jpeg">
                                    <img class="pic-2 ib" src="assets/img/pp.Jpeg">
                                </a>
                            
                             
                            </div>
                           
                            <div class="product-content" style="padding-left: 5px;
                            padding-bottom: 0px;">
              
                           
                                <h3 class="title" style="margin-top: -16px;"><a href="my-card"> <span style="float:left;"> <img class="pic-1" src="assets/img/wish.png" style="width: 15px;"> <b> GLORDANI GOLD</b> </span> &nbsp;&nbsp;&nbsp;<span><b>Rs.500</b> </span> </a></h3>
                                <div class="product-small title">
                                   <h4 class="title product-cont" style="float:left;margin-bottom: 6px;"><img class="pic-1" src="assets/img/link.png" style="width: 15px;margin-left: -15px;"> Gold Glow Iconic Lipstick SPF 15</h4>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="margin-bottom: 20px!important;">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#">
                                    <img class="pic-1 ib" src="assets/img/q2.jpeg">
                                    <img class="pic-2 ib" src="assets/img/q2-1.Jpeg">
                                </a>
                                <ul class="social">
                                    <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                    <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                    <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                             
                            </div>
                            <div class="product-content" style="padding-left: 5px;
                            padding-bottom: 0px;">
              
                           
                                <h3 class="title" style="margin-top: -16px;"><a href="my-card"> <span style="float:left;"> <img class="pic-1" src="assets/img/wish.png" style="width: 15px;"> <b> GLORDANI GOLD</b> </span> &nbsp;&nbsp;&nbsp;<span><b>Rs.500</b> </span> </a></h3>
                                <div class="product-small title">
                                   <h4 class="title product-cont" style="float:left;margin-bottom: 6px;"><img class="pic-1" src="assets/img/link.png" style="width: 15px;margin-left: -15px;"> Gold Glow Iconic Lipstick SPF 15</h4>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="margin-bottom: 20px!important;">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#">
                                    <img class="pic-1 ib" src="assets/img/q3.jpeg">
                                    <img class="pic-2 ib" src="assets/img/q31.Jpeg">
                                </a>
                              
                            </div>
                           
                            <div class="product-content" style="padding-left: 5px;
                            padding-bottom: 0px;">
              
                           
                                <h3 class="title" style="margin-top: -16px;"><a href="my-card"> <span style="float:left;"> <img class="pic-1" src="assets/img/wish.png" style="width: 15px;"> <b> GLORDANI GOLD</b> </span> &nbsp;&nbsp;&nbsp;<span><b>Rs.500</b> </span> </a></h3>
                                <div class="product-small title">
                                   <h4 class="title product-cont" style="float:left;margin-bottom: 6px;"><img class="pic-1" src="assets/img/link.png" style="width: 15px;margin-left: -15px;"> Gold Glow Iconic Lipstick SPF 15</h4>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="margin-bottom: 20px!important;">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#">
                                    <img class="pic-1 ib" src="assets/img/q4.jpeg">
                                    <img class="pic-2 ib" src="assets/img/q41.Jpeg">
                                </a>
                               
                             
                            </div>
                           
                            <div class="product-content" style="padding-left: 5px;
                            padding-bottom: 0px;">
              
                           
                                <h3 class="title" style="margin-top: -16px;"><a href="my-card"> <span style="float:left;"> <img class="pic-1" src="assets/img/wish.png" style="width: 15px;"> <b> GLORDANI GOLD</b> </span> &nbsp;&nbsp;&nbsp;<span><b>Rs.500</b> </span> </a></h3>
                                <div class="product-small title">
                                   <h4 class="title product-cont" style="float:left;margin-bottom: 6px;"><img class="pic-1" src="assets/img/link.png" style="width: 15px;margin-left: -15px;"> Gold Glow Iconic Lipstick SPF 15</h4>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
   
                    <div class="col-md-3 col-sm-6" style="margin-bottom: 20px!important;">
                        <div class="product-grid">
                            <div class="product-image">
                                <a [routerLink]="'/quick-buy-product-details'">
                                    <img class="pic-1 ib" src="assets\img\q1.jpeg">
                                    <img class="pic-2 ib" src="assets/img/pp.Jpeg">
                                </a>
                               
                            </div>
                           
                            <div class="product-content" style="padding-left: 5px;
                            padding-bottom: 0px;">
              
                           
                                <h3 class="title" style="margin-top: -16px;"><a href="my-card"> <span style="float:left;"> <img class="pic-1" src="assets/img/wish.png" style="width: 15px;"> <b> GLORDANI GOLD</b> </span> &nbsp;&nbsp;&nbsp;<span><b>Rs.500</b> </span> </a></h3>
                                <div class="product-small title">
                                   <h4 class="title product-cont" style="float:left;margin-bottom: 6px;"><img class="pic-1" src="assets/img/link.png" style="width: 15px;margin-left: -15px;"> Gold Glow Iconic Lipstick SPF 15</h4>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="margin-bottom: 20px!important;">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#">
                                    <img class="pic-1 ib" src="assets/img/q2.jpeg">
                                    <img class="pic-2 ib" src="assets/img/q2-1.Jpeg">
                                </a>
                               
                             
                            </div>
                            <div class="product-content" style="padding-left: 5px;
                            padding-bottom: 0px;">
              
                           
                                <h3 class="title" style="margin-top: -16px;"><a href="my-card"> <span style="float:left;"> <img class="pic-1" src="assets/img/wish.png" style="width: 15px;"> <b> GLORDANI GOLD</b> </span> &nbsp;&nbsp;&nbsp;<span><b>Rs.500</b> </span> </a></h3>
                                <div class="product-small title">
                                   <h4 class="title product-cont" style="float:left;margin-bottom: 6px;"><img class="pic-1" src="assets/img/link.png" style="width: 15px;margin-left: -15px;"> Gold Glow Iconic Lipstick SPF 15</h4>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="margin-bottom: 20px!important;">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#">
                                    <img class="pic-1 ib" src="assets/img/q3.jpeg">
                                    <img class="pic-2 ib" src="assets/img/q31.Jpeg">
                                </a>
                               
                             
                            </div>
                           
                            <div class="product-content" style="padding-left: 5px;
                            padding-bottom: 0px;">
              
                           
                                <h3 class="title" style="margin-top: -16px;"><a href="my-card"> <span style="float:left;"> <img class="pic-1" src="assets/img/wish.png" style="width: 15px;"> <b> GLORDANI GOLD</b> </span> &nbsp;&nbsp;&nbsp;<span><b>Rs.500</b> </span> </a></h3>
                                <div class="product-small title">
                                   <h4 class="title product-cont" style="float:left;margin-bottom: 6px;"><img class="pic-1" src="assets/img/link.png" style="width: 15px;margin-left: -15px;"> Gold Glow Iconic Lipstick SPF 15</h4>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="margin-bottom: 20px!important;">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#">
                                    <img class="pic-1 ib" src="assets/img/q4.jpeg">
                                    <img class="pic-2 ib" src="assets/img/q41.Jpeg">
                                </a>
                              
                            </div>
                           
                            <div class="product-content" style="padding-left: 5px;
                            padding-bottom: 0px;">
              
                           
                                <h3 class="title" style="margin-top: -16px;"><a href="my-card"> <span style="float:left;"> <img class="pic-1" src="assets/img/wish.png" style="width: 15px;"> <b> GLORDANI GOLD</b> </span> &nbsp;&nbsp;&nbsp;<span><b>Rs.500</b> </span> </a></h3>
                                <div class="product-small title">
                                   <h4 class="title product-cont" style="float:left;margin-bottom: 6px;"><img class="pic-1" src="assets/img/link.png" style="width: 15px;margin-left: -15px;"> Gold Glow Iconic Lipstick SPF 15</h4>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
   

                </div>
                <DIV style="margin: 1rem 20rem;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination col-12">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item"><a class="page-link" href="#">6</a></li>
                      <li class="page-item"><a class="page-link" href="#">7</a></li>
                      <li class="page-item"><a class="page-link" href="#">8</a></li>
                      <li class="page-item"><a class="page-link" href="#">9</a></li>

                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </DIV>
            </div>

        </div> 
    </div>
    
    <br>
 

 

</div>

<app-front-footer></app-front-footer>