
<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
            <mat-card>
               
                    <mat-tab-group>
                            <mat-tab label="TRANSACTION DEPOSIT DETAILS">
                                <mat-card-content>
                                    
                                                            
                              <div class="table-responsive">
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>S.No</th>
                                      <th>Deposit To</th>
                                      <th>Currency</th>
                                      <th>Amount</th>
                                      <th>Wallet Balance</th>
                                      <th>Transaction Id</th>
                                      <th>Deposit From</th>
                                      <th>Deposit On</th>
                                </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>1</td>
                                      <td>123456</td>
                                      <td>BTC</td>
                                      <td>768686</td>
                                      <td>SFFFF5465dfhgdtht</td>
                                      <td>1234</td>
                                      <td>2018-12-20</td>
                                      <td>2018-12-20</td>
                                   
                                       
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                                                              
  
                                </mat-card-content>
                           </mat-tab>
  
                           
  
                    </mat-tab-group>
                  
            </mat-card>    
    </div>
  </div>
  
