
<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
            <mat-card>
               
                    <mat-tab-group>
                            <mat-tab label="WALLET ADDRESS">
                                <mat-card-content>
                                    
                                                            
                              <div class="table-responsive">
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>

                                      <th>User Id</th>
                                      <th>Name</th>
                                      <th>Currency</th>
                                      <th>Wallet Address</th>
                                      <th>Balance</th>
                                      <th>Balance in USDT</th>
                                     
                                </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                     
                                      <td>1</td>
                                      <td>Sakhu</td>
                                      <td>BTC</td>
                                      <td>DSDnvkdnbn799jkhdkjfbhk</td>
                                      <td>34543.99</td>
                                      <td>$ 7389768</td>
                                       
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                                                              
  
                                </mat-card-content>
                           </mat-tab>
  
                           
  
                    </mat-tab-group>
                  
            </mat-card>    
    </div>
  </div>
  
